<div class="row row-cols-1 row-cols-md-4 g-4 m-2">
    <div class="col">
        <div class="card h-100">
            <img src="./front-end/view/assets/img/spaceship1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-light fw-bolder my-2">Card title</h4>
                <p class="card-text">
                    <span class="fw-bolder">Sinopse:</span>
                    This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    <br><br>
                    <span class="fw-bolder">Data de laçamento: </span>
                    xx/xx/xxxx
                    <br>
                    <span class="fw-bolder">Idade do filme: </span>
                    'xx years, xx months, xx days'
                </p>

                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filmDetailModal">
                        Launch static backdrop modal
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./front-end/view/assets/img/spaceship1.png" class="card-img-top" alt="imagem com uma nave espacial da série estar wars">
            <div class="card-body">
                <h5 class="card-title text-light fw-bolder">Card title</h5>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./front-end/view/assets/img/spaceship1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light fw-bolder">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="./front-end/view/assets/img/spaceship1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-light fw-bolder">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>

<div id="movie-details"></div>