<div class="main-page-subtitle">
    <div class="container-fluid">
        <h4 class="m-2">Movie Details: </h4>
    </div>
</div>

<div id="contentNewRoute" class="container-fluid text-center my-3">

    <div class="row">
        <div class="col-sm-4 mb-2">
            <img src="./../front-end/view/assets/img/starwarslogo.webp" class="img-fluid" alt="">
        </div>
        <div class="col text-start mb-2">
            <h3 id="contentNewRouteLabel" class="d-inline">Nome do filme</h3>
            <span class="d-inline ms-2"> or </span>
            <button class="d-inline ms-2 custom-outline-warning" onclick="goBack()">Back to the galaxy's origin</button>
            <br>
            <p class="card-text text-start mt-3">
                <span class="fw-bolder">Episode number:</span>
                <span id="episodeNumber"></span>
                <br><br>
                <span class="fw-bolder">Synopsis:</span>
                <span id="synopsis"></span>
                <br><br>
                <span class="fw-bolder">Release date: </span>
                <span id="releaseDate"></span>

                <br><br>
                <span class="fw-bolder">Movie age: </span>
                <span id="filmAge"></span>

                <br><br>
                <span class="fw-bolder">Director: </span>
                <span id="director"></span>

                <br><br>
                <span class="fw-bolder">Producer(s): </span>
                <span id="producers"></span>

                <br><br>
                <span class="fw-bolder">Character names: </span>
                <span id="characters"></span>

            </p>
        </div>
    </div>
</div>

