RewriteEngine On
RewriteBase /l5-test/

# Do not rewrite requests for existing files (CSS, JS, images, etc.)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Do not rewrite requests for existing directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

## Exception for the path 'front-end/view/'
#RewriteRule ^front-end/view/ - [L]

# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]

